<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="${package}.test"
	android:versionCode="1"
	android:versionName="${version}">

	<uses-sdk
		android:minSdkVersion="${minSdkVersion}"
		android:targetSdkVersion="${targetSdkVersion}" />

	<instrumentation
		android:targetPackage="${package}"
		android:name="android.test.InstrumentationTestRunner" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<uses-library android:name="android.test.runner" />
	</application>

</manifest>
